{block title}
    | Registrace
{/block}


{block content}
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Registrace
                </h1>
            </div>
        </div>

        <div class="row">

			{control registrationForm}

		</div>

{/block}