{block content}

    <div class="row">
        <div class="col-lg-12">
			{control sliderForm}
        </div>
    </div>	     

	<a href="{link Slider:default paginator-page => $paginator->page}" class="btn btn-info">Zpět</a>

{/block}